<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Qentrix RestAssured Suite">
    <listeners>
        <listener class-name="restUtils.reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Qentrix Generated API Tests">
        <classes>
            <class name="tests.login.VerifyThatLoginAPIRejectsRequestMissingUsername_Api2834Test"/>
            <class name="tests.login.VerifyThatAPIRejectsClaimRegistrationRequestMissing_Api3416Test"/>
            <class name="tests.login.VerifyThatAPIReturnsAccountOverviewDataSuccessfully_Api3999Test"/>
            <class name="tests.login.VerifyThatAPIReturnsEmptyAccountsArrayUser_Api4001Test"/>
            <class name="tests.login.VerifyThatAPIReturnsAccountDetailsSuccessfullySpecific_Api4002Test"/>
            <class name="tests.login.VerifyThatAPIRejectsRequestNonExistentAccount_Api4003Test"/>
            <class name="tests.login.VerifyThatAPIReturnsForbiddenStatusUserApproval_Api4160Test"/>
            <class name="tests.login.VerifyThatAPIAcceptsValidTextBoxForm_Api4185Test"/>
            <class name="tests.login.VerifyThatAPIRejectsTextBoxFormSubmission_Api4186Test"/>
            <class name="tests.login.VerifyThatLoginAPIReturnsSuccessResponseValid_Api2832Test"/>
        </classes>
    </test>
</suite>
